extends layout

block content 
  h1=title 
  p Welcome to #{title}
  div
    p#test_paragraph is this nested yet?
    a(
      id = "emd_link"
      href="https://en.wikipedia.org/wiki/Electronic_dance_music"
    ) EDM Info
  p 
    | Time to manage some employees!!
    | Here is some of your favorite
    | etc... beep